.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Centra verticalmente */
  text-align: center;
}

.btn {
  background: #007bff;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background: #0056b3;
}

.counter-box {
  margin-top: 20px;
  background-color: #f8f9fa;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  border: 2px solid #007bff;
}

.counter-box:hover {
  background-color: #007bff;
  color: white;
}
  