.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .text {
    font-size: 2em;
    color: #333;
    background-color: #f4e1fe;
    padding: 15px 30px;
    border-radius: 12px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: inline-block;
  }
  
  .User {
    font-weight: bold;
    color: #a144eb;
    font-size: 1.8em;
    background-color: #fff;
    padding: 5px 12px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  